* {
    box-sizing: border-box ;
    }
.slider {
    height: 200px;
    overflow: hidden;
    border: 5px solid blue;

}

.slider-line {
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    transition: all .7s ease;
    
}

.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box ;
    background-color: rgba(1, 2, 3, 0.3);
    border: 1px solid red;
    font-size: 10rem;
}

.slider__btn {
    padding: 10px;
    font-size: 2rem;
}
